.nav-bar{
    background-color: #333;
     position: fixed; 
     top: 0; 
     width: 100%;
     z-index: 1;
}

.navbar-nav{
    margin-right: 15px;
}

#aboutBtn{
    background-color: #212529;
    border: none;
    margin-right: 10px;
}

#title-button{
    background-color: #212529;
    border: none;
}

#live-report{
    background-color: #212529;
    border: none;
}

#homeBtn{
    background-color: #212529;
    border: none;
}

.userName{
    font-size: x-small;
    margin-left: 10px;
}

.title{
    font-size: xx-large;
    margin-left: 20px;
}