/* .card{
    margin-top: 70px;
    margin-bottom: 30px;
} */
/* 
.registerPage{
    background-image: url("soccerStadium.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
} */